---
import Layout from "../layouts/Layout.astro";
import Navegation from "../components/navegation.astro";
import Footer from "../components/footer.astro";



const pageTitle = "Sobre mi";

const identity = {
  firstName: "Carlos",
  country: "Colombia",
  occupation: "Estudiante de Ingenieria",
  hobbies: [
    "Desarrollo Web",
    "Musica",
    "Trabajador Independiente",
    "Ejercicio",
  ],
};

const skills = ["HTML", "JAVASCRIPT", "TAILWIND", "CSS", "MYSQL"];

const happy = true;
const finished = false;
const goal = 3;
---

<Layout title={pageTitle}>
  <main>
    <Navegation/>
    <h1>CONOCE UN POCO MAS {pageTitle}</h1>
    <p>He aquí algunos datos sobre mí:</p>
    <ul>
      <li>Me llamo {identity.firstName}.</li>
      <li>Vivo en {identity.country} y mi ocupacion en este momento es {identity.occupation}.</li>
      {
        identity.hobbies.length >= 2 && (
          <li>
            Dos de mis aficiones son: {identity.hobbies[0]} y{" "}
            {identity.hobbies[1]}
          </li>
        )
      }
    </ul>
    <p>Mis habilidades son:</p>
    <ul>
      {skills.map((skill) => <li>{skill}</li>)}
    </ul>
    {happy && <p>¡Estoy feliz de aprender Astro!</p>}

    {finished && <p>¡He terminado este tutorial!</p>}

    {
      goal === 3 ? (
        <p>Mi objetivo es terminar en 3 días.</p>
      ) : (
        <p>Mi objetivo no son 3 días.</p>
      )
    }
    <Footer/>
    
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
  
  .astro-a {
    position: absolute;
    top: -32px;
    left: 50%;
    transform: translatex(-50%);
    width: 220px;
    height: auto;
    z-index: -1;
  }
  h1 {
    font-size: 4rem;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }

  @media screen and (max-width: 512px) {
    h1{
      border-top: solid 1px;
      padding-top: 2rem;
      margin-top: 1rem;
    }
  }
 
</style>
